/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.05rem;
  background-color: #d5e9ec;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 1.85rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  
  h1,
  h3 {
    line-height: 1;
  }
}

/*
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}*/

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2d707e; /* var(--clr-white);*/
  box-shadow: var(--light-shadow);
  z-index: 10; 
}
.fixed-nav .links a {
  color: #021a20;/*var(--clr-primary-1) */
}
.fixed-nav .links a:hover {
  color: var(--clr-white) !important;/*var(clr-primary-10) !important*/
}/*

*/
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0; */
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
/*
#toogle{
  display: none;
}*/

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links {
  display: flex;
}
.links a {
  background: transparent;
  color: #8b7a44;
  font-size: 0.7rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
  margin: 0 0.3rem; 
}
.links a:hover {
  color: #02222b;
  font-size: 0.9rem;
}
.logo {
  height: 50px;
}

/*/////////////////////////*/
/*ACA HAY QUE HACER ALGO*/
/*////////////////////////*/

@media screen and (min-width: 800px){
  /* navbar */
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: #eceae4;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: #02222b;
    font-size: 1.1rem;
  }
}
/* inicio */
#inicio {/*
  height: 580px;
  width:  1350px; */
  transition: all 1s ease-in-out;
  min-height: 100vh; 
  background: linear-gradient(rgba(51, 87, 153, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/portada/web-wallpapers.jpg) center/cover no-repeat;
}

.logoPpal {
  height: 175px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.banner {
  min-height: 100vh;
  text-align: center;
  position: relative;
  top: 12%;
  width: 80%;
}
.container {
  color: var(--clr-white);
  left: 40%;
}
.container p {
  color: var(--clr-white);
}

@media only screen and (max-width: 1000px) {
  #inicio{
    width: calc(100% - 17px);
  }
  .container p {
    font-size: 0.6rem;
  }
  .logoPpal{
    size: 80%;
  }
  .container h3{
    font-size: 1.4rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}

#skills,
#proyectos,
#contacto {
  height:  calc(100% - 1px);/* 80vh = 610px*/
}
#skills{
  background-color: #b2cfd4;
}
#proyectos {
  background: var(--clr-white);
  background-color: #598b94;
}
#contacto{
  background-color: #acc9ce;
  text-align: center;
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  background-color: rgba(0, 0, 0, 0.082);
  color: rgba(245, 245, 245, 0.603);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*
=============== 
Slider
===============
*/
.slider-container {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-9);
  color: var(--clr-white);
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  height: 100%;
  width: 100%;
}
.slide h1 {
  font-size: 5rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 5px -5px;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 800px;
  padding: 0 10px;
  margin-left: 10px;
  text-align: center;
}

.card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  margin-left: 350px;
  margin-top: 20px;
  width: 650px;
  height: 380px;
}

.caja {
	width: 35px;
	height: 35px;
  padding: 1px;
  display: inline-block;
  margin: 1px 1px;
}
/*///////////////*/
/* PROYECTOS  */
/*///////////////*/
.container {
  position: relative;
  width: 43%;
  margin-left: 1%;
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* ///////////////////////////////////////// */
/* IMAGEN */
/* ///////////////////////////////////////// */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: rgb(35, 120, 189);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 45px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;/*
  filter: alpha(opacity=40);*/
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


#parrafo{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
}
#texto{
  margin-left: 10%;
  text-align: center;
}

#laptop{
  font-size:96px;
  margin-top: 5%;
  margin-right: 5%;
}

@media only screen and (max-width: 1000px) {
  #texto{
    font-size: 0.6rem;
    text-align: center;
  }
  #texto h3 {
    font-size: 25px;
  }
  #laptop{
    font-size: 60px;
    margin-top: 0%;
    margin-right: 5%;
  }
  /*contacto*/
  #contacto p{
    font-size: 0.8rem;
    text-align: center;
  }
  #contacto h4{
    text-align: center;
  }
  #contenido02 i{
    display: block;
    text-align: center !important;
  }
  /*footer*/
  #parrafo{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
  }
}
